
#digest_items.postbox .inside #digest-add-item-form {
	padding:.5em 0 1em;
}

#digest_items.postbox .inside #digest-add-item-form label {
	float:left;
	display:block;
	padding:5px 0 5px;
	margin-right:10px;
	font-weight:bold;
}

#digest_items.postbox .inside #digest-add-item-form.error label {
	margin-left:10px;
	color:#dd3d36;
}

#digest_items.postbox .inside #digest-add-item-form.error input {
	border-color:#dd3d36;
}

#digest_items.postbox .inside #digest-add-item-form span.error-txt {
	padding-left:10px;
	color:#dd3d36;
}

#digest_items.postbox .inside #digest-items-list table {
	margin-top:10px;
	border-top:1px solid #eee;
	padding-top:20px;
}

#digest_items.postbox .inside #digest-items-list table tr td input,
#digest_items.postbox .inside #digest-items-list table tr td textarea {
	margin-bottom:10px;
	resize: none;
}

#digest_items.postbox .inside #digest-items-list table tr td img[src] {
	max-width:100px;
	height:auto;
	margin-right:20px;
	border:1px solid #eee;
}
#digest_items.postbox .inside #digest-items-list table tr td a.remove-item {
	margin-left:20px;
}