#digest {
}

#digest .item {
	background:#eee;
	margin:20px 0 0 0;
	padding-bottom:10px;
}

#digest .item .title,
#digest .item .description,
#digest .item .provider
{
	padding:10px 10px 0;
}

#digest .item .title h4 {
	margin:0;
	display:inline;
}

#digest .item .title h4 a {
	text-decoration:none;
}

#digest .item .thumbnail {
	float:left;
	margin-bottom:10px;
	width:100%;
}

#digest .item .thumbnail img {
	width:100%;
	height:auto;
}